/*** COMMON ***/

@import url(http://fonts.googleapis.com/css?family=Oxygen);

html, body {
    height: 100%;
}

html {
    font-size: 100%;
}

body {
    margin: 0 auto;
    padding: 0 0;
    font-family: "Oxygen", Tahoma,Arial,Helvetica,sans-serif;
    color: #333333;
    font-size: 14px;
    line-height: 20px;
    overflow-y: scroll;
}

/*** CONTAINER ***/

#wrapper {
    height: auto !important;
    min-height: 100%;
    margin: 0 auto -196px;
}

.container {
    width: 950px;
    margin: 0 auto;
    padding: 0 10px;
}

.container:before, .container:after {
    display: table;
    content: "";
    line-height: 0;
}

.container:after {
    clear: both;
}

.container-main {
    padding-top: 30px;
    background: none repeat scroll 0% 0% #ffffff;
}

.container-main.profil {
    background-color: #141414;
}

.container.menu-top {
    padding: 0;
    width: 970px;
}

.pull-right {
    float: right;
    text-align: right;
    text-rendering: auto;
}

#footer-push {
    height: 196px;
}

hr.divider {
    margin: 15px 0;
    border-top: 1px solid #dadada;
}

.icon {
    display: inline-block;
    vertical-align: middle;
}

.spoiler input[type=button] {
    font-size: 0.8em;
    padding: 0 5px 0 5px;
    border: 1px solid #D0D0D0;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.7) inset;
    color: #616161;
    height: 24px;
    text-shadow: 0 1px 0 #FFFFFF;
    cursor: pointer;
}

.spoiler input[type=button]:hover {
    background-color: #F8F8F8;
    color: #4C4C4C;
}

.spoiler .block {
    display: none;
}

span.li-second {
    margin-left: 30px;
    font-size: 9pt;
}

/*** HEADER ***/

#header {
    background-color: #222222;
    min-width: 960px;
    height: 48px;
}

.header-navbar {
    float: left;
    list-style: outside none none;
    margin: 0;
}

.header-navbar li {
    float: left;
    display: block;
    position: relative;
}

.header-navbar li.active a {
    color: #ffffff;
    background-color: #080808;
}

.header-navbar li a {
    position: relative;
    display: block;
    color: #999999;
    padding: 14px;
    font-size: 15px;
}

.header-navbar li a:hover {
    color: #ffffff;
    text-decoration: none;
}

.header-search {
    margin: 9px 0 0;
    width: 217px;
    background: none repeat scroll 0% 0% #333333;
    border: 1px solid #5c5c5c;
}

.header-search .field {
    margin: 0;
    float: left;
    display: inline;
    width: 184px;
    line-height: 19px;
    height: 19px;
    color: #ffffff;
    background: none repeat scroll 0% 0% #333333;
    border: 0 none;
    padding: 4px 0 5px 4px;
}

.header-search .button {
    float: right;
    display: inline;
    width: 29px;
    height: 28px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAARCAMAAAA11AaTAAAAb1BMVEX///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////8AAACp7ikOAAAAJXRSTlNnbF0fS00lcioFVlstBAEwWBkXPQwIIQcGAi59FAMeRxg5aGIA73g/cQAAAHRJREFUeNpdzscOAyEMRVHSeyZ1GmMDNv//jZGeYRHuykcIg8uZg3gJnJHLs6ZIMelsZl0wLMpwSNlKAZZYHAX2VEy+PW/vN/s3f+8fznyD7X+77WrdE4zuw9Fd9gNsjVfVboStU/+QF1yi5/sD16bvVF37AWT9IBzKUUYDAAAAAElFTkSuQmCC') no-repeat scroll center center transparent;
    cursor: pointer;
    border: 0 none;
    font-size: 0;
    line-height: 0;
    text-indent: -4000px;
}

.header-wrapper {
    height: 70px;
    min-width: 960px;
    /*background-color: #000000;*/
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center top;
}

.black-container {
    background-color: #000000;
}

.dynamic-color {
    width: 1150px;
    margin: 0 auto;
}

.header-wrapper .header-title {
    font-size: 28px;
    line-height: 1.7;
    color: #ffffff;
    text-shadow: 0 0 20px #549ef9;
    overflow: hidden;
    max-width: 730px;
    white-space: nowrap;
}

.header-medium,
.header-medium .container {
    height: 120px;
}

.header-huge {
    background-image: -webkit-radial-gradient(center bottom,circle cover,#3B6284,#000);
    background-image: -moz-radial-gradient(center bottom,circle cover,#3B6284,#000);
    background-image: -ms-radial-gradient(center bottom,circle cover,#3B6284,#000);
    background-image: -o-radial-gradient(center bottom,circle cover,#3B6284,#000);
    background-image: radial-gradient(center bottom,circle cover,#3B6284,#000);
}

.header-huge,
.header-huge .container {
    height: 200px;
}

.header-subtitle {
    color: #ACACAC;
    font-size: 24px;
    line-height: 1.2;
}


/*** PAGE ***/

#page {
    min-width: 960px;
}

.post, .post p {
    font-size: 14px;
    line-height: 22px;
}

.post code {
    line-height: 20px;
}

.table {
    background-color: #ffffff;
}

.table-bordered {
    border-color: #dddddd
}

.table thead th {
    border-bottom: 2px solid #dddddd;
}

.pagination {
    display: block;
    margin: 20px 0;
}

.pagination li {
    list-style-type: none;
    margin: 0;
    display: table-cell;
    width: 1%;
}

.pagination li a,
.pagination li span {
    display: block;
    text-align: center;
    padding: 11px 19px;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    background-color: #ffffff;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #dddddd;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
}

.pagination li a:hover,
.pagination li a:focus,
.pagination .active a,
.pagination .active span {
    background-color: #f5f5f5;
}

.pagination li:first-child a,
.pagination li:first-child span {
    border-left-width: 1px;
}

.pagination .active a,
.pagination .active span {
    color: #999999;
    cursor: default;
}

.pagination .disabled span,
.pagination .disabled a,
.pagination .disabled a:hover,
.pagination .disabled a:focus {
    color: #999999;
    cursor: default;
    background-color: transparent;
}

.motd {
    padding: 15px;
    font-size: 18px;
    text-align: center;
    background-color: #333333;
    color: #ffffff;
    margin: 12px auto;
}

.motd a {
    color: #f39c12;
}

.panel {
    padding: 15px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
}

.panel-heading {
    margin: -15px -15px 15px;
    padding: 10px 15px;
    color: #ffffff;
}

.panel p {
    margin: 0;
}

.panel-error {
    border-color: #e74c3c;
    max-width: 960px;
    margin: 20px auto;
}

.panel-error .panel-heading {
    background-color: #e74c3c;
    border-color: #e74c3c;
    color: #ffffff;
}

.panel-success {
    border-color: #3EBD31;
    max-width: 960px;
    margin: 20px auto;
}

.panel-success .panel-heading {
    background-color: #3EBD31;
    border-color: #3EBD31;
    color: #ffffff;
}

.panel-info {
    border-color: #306097;
    max-width: 960px;
    margin: 20px auto;
}

.panel-info .panel-heading {
    background-color: #306097;
    border-color: #306097;
    color: #ffffff;
}

.panel-warning {
    border-color: #E7903C;
    max-width: 960px;
    margin: 20px auto;
}

.panel-warning .panel-heading {
    background-color: #E7903C;
    border-color: #E7903C;
    color: #ffffff;
}

.avatar-container{
    width: 66px;
    height: 66px;
    padding: 3px;
    border-radius: 3px;
    background-color: #8ecafc;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#7bafd6),to(#506d92));
    background-image: -webkit-linear-gradient(top,#7bafd6,#506d92);
    background-image: -moz-linear-gradient(top,#7bafd6,#506d92);
    background-image: -o-linear-gradient(top,#7bafd6,#506d92);
    background-image: linear-gradient(to bottom,#7bafd6,#506d92);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7bafd6',endColorstr='#506d92',GradientType=0);
}

.avatar-container img{
    width:64px;
    height:64px;
    border:1px solid #4d5761;
    border-radius:3px;
}

.avatar-container.avatar-small {
    float: left;
    width: 34px;
    height: 34px;
}

.avatar-container.avatar-small img {
    width: 32px;
    height: 32px;
}

.avatar-container.avatar-small.avatar-right {
    float: right;
}

.member-avatar {
    float: left;
    border: 4px solid #7bafd6;
    margin: 6px 10px 0 0;
    border-radius: 3px;
}

.header-subtitle,
.header-title.pull-right,
.member-level {
    text-shadow: 1px 1px 0px #000000;
}

.member-level {
    position: relative;
    display: inline-block;
    font-size: 18px;
    border-radius: 32px;
    height: 32px;
    width: 32px;
    line-height: 30px;
    text-align: center;
    cursor: default;
    margin-right: 10px;
    vertical-align: 4px;
    border: 2px solid #9b9b9b;
}

.member-special {
    color: #ff007f;
}

.member-level.lvl-10{
    border-color:#c02942;
}

.member-level.lvl-20{
    border-color:#d95b43;
}

.member-level.lvl-30{
    border-color:#fecc23;
}

.member-level.lvl-40{
    border-color:#467a3c;
}

.member-level.lvl-50{
    border-color:#4e8ddb;
}

.member-level.lvl-60{
    border-color:#7652c9;
}

.member-level.lvl-70{
    border-color:#c252c9;
}

.member-level.lvl-80{
    border-color:#542437;
}

.member-level.lvl-90{
    border-color:#997c52;
}

.staff-dev {
    color: #FF9E3E;
}

/*** HOME ***/

.home-issues {
    margin: 20px 0;
    padding: 20px 0;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}

.home-issues-span {
    margin: 0;
    width: 460px;
    float: left;
}

.home-stats {
    list-style-type: none;
    text-align: center;
    margin: 0;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 20px;
}

.home-stats li {
    display: inline-block;
    padding: 0 50px;
    line-height: 1.24;
}

.home-stats b {
    font-size: 38px;
    display: block;
}

.home-stats em {
    display: block;
    font-size: 12px;
    font-style: normal;
    color: #aaaaaa;
}

blockquote {
    margin-left: 35px;
}

blockquote p:before {
    color: #4488AA;
    content: "“";
    font-size: 5em;
    line-height: 0;
    margin: 0 5px 0 -35px;
    vertical-align: bottom;
}

p.tag_cloud {
    margin: 0 0 0.5em;
    text-align: justify;
    font-family: Verdana,Arial,sans-serif;
    letter-spacing: 0;
}

p.tag_cloud span.s1 {
    font-size: 10px;
}

p.tag_cloud span.s2 {
    font-size: 12px;
}

p.tag_cloud span.s3 {
    font-size: 14px;
}

p.tag_cloud span.s4 {
    font-size: 16px;
}

p.tag_cloud span.s5 {
    font-size: 18px;
}

p.tag_cloud span.s6 {
    font-size: 20px;
}

p.tag_cloud span.s7 {
    font-size: 22px;
}

.post-multiple {
    margin-bottom: 85px;
}

.post-date {
    margin-bottom: 10px;
    display: block;
    color: #9E9E9E;
}

.comments-header {
    min-width: 960px;
    background: none repeat scroll 0% 0% #F5F1EE;
    padding: 20px 0px;
    margin-bottom: 15px;
}

.comments-header h2 {
    font-size: 24px;
    text-transform: uppercase;
    margin: 0px;
}

.comments-header i {
    color: #FA4B2A;
}

/*** FORUM ***/

#forum {
    word-wrap: break-word;
    line-height: 14px;
}

#forum .thread {
    padding: 12px 0;
    border-top: 1px solid #f1f1f1;
}

#forum .thread:first-child {
    border-top: medium none;
}

#forum .details {
    margin-top: 4px;
    margin-left: 8px;
    float: left;
    width: 620px;
}

#forum .details .title {
    overflow: hidden;
    color: #333333;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 3px;
}

#forum .details .title a {
    color: #333333;
}

#forum .details .title a:hover {
    text-decoration: underline;
}

#forum .author {
    color: #636e75;
    font-size: 11px;
}

#forum .reply {
    margin-top: 4px;
    margin-right: 8px;
    float: right;
    text-align: right;
    line-height: 16px;
}

#forum p {
    margin: 0;
}

/*** PROFILE ***/

.profil-block {
    background: #2d3c51;
    background: -moz-linear-gradient(top,  #2d3c51 0%, #141414 36%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2d3c51), color-stop(36%,#141414));
    background: -webkit-linear-gradient(top,  #2d3c51 0%,#141414 36%);
    background: -o-linear-gradient(top,  #2d3c51 0%,#141414 36%);
    background: -ms-linear-gradient(top,  #2d3c51 0%,#141414 36%);
    background: linear-gradient(to bottom,  #2d3c51 0%,#141414 36%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d3c51', endColorstr='#141414',GradientType=0 );
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px 15px 15px 15px;
    margin-bottom: 10px;
}

.profil-block h3 {
    margin: 0 0 10px 0;
    line-height: 20px;
    color: #5491CF;
}

.profil-block-content {
    margin-top: 10px;
    padding: 5px;
    background-color: #0e0e0e;
    color: #ffffff;
}

/*** 404 ***/

#container-404 {
    margin: 100px auto 40px;
    width: 320px;
    text-align: center;
    position: relative;
}

.title-404 {
    margin: 20px 0;
    width: 300px;
    padding: 16px 0;
    text-transform: uppercase;
    color: #da4453;
    font-size: 29px;
    border-top: 3px double #da4453;
    border-bottom: 3px double #da4453;
    display: inline-block;
    position: relative;
}

.title-404 .label-404 {
    font-size: 13px;
    font-style: italic;
    position: absolute;
    text-align: center;
    background: none repeat scroll 0% 0% #ffffff;
    left: 50%;
    top: -10px;
    width: 40px;
    margin-left: -20px;
}

.button-404 {
    padding: 14px 26px;
    font-size: 14px;
    color: #ffffff;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    border-radius: 3px;
    background-color: #8cc152;
    text-decoration: none;
}

.button-404:first-child {
    margin-right: 20px;
}

/*** FOOTER ***/

#footer {
    min-width: 960px;
    padding: 20px 0 15px;
    background: none repeat scroll 0% 0% #f7f7f7;
    border-top: 1px solid #dadada;
    box-shadow: 0 3px 6px -3px rgba(0, 0, 0, 0.2) inset;
}

#footer p {
    margin-bottom: 0;
    color: #777777;
    text-shadow: 1px 1px 0 #ffffff;
}

#footer .copyright {
    line-height: 28px;
}

.footer-nav {
    width: 20%;
    float: left;
    margin: 0;
}

.footer-nav dt {
    color: #52595d;
    font-weight: bold;
}

.footer-nav dd {
    margin: 0;
}
